


.feynman {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    height: 890px;
    position: relative;
    display: flex; /* Включаем Flexbox */
    flex-direction: column; /* Устанавливаем направление по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    background-color: #f2f2f2;
  }
  img[src='../images/feynman.png'] {
    width: 867px;
    height: 637px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  } 
  
  .feynman__title {
    width: 648px;
    height: auto;
    margin: 100px 0 0 0;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    z-index: 1;
  }
  .feynman__subtitle {
    height: auto;
    margin-top: 70px;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 1;
  }
  .feynman__link {
    font-weight: normal;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
  }